Node-RED Flow/flows.json
[
    {
        "id": "32cc78c2.d8ddb8",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ce4236c8.ff58a8",
        "type": "ui_form",
        "z": "32cc78c2.d8ddb8",
        "name": "",
        "label": "",
        "group": "c094dc64.ca516",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Enter your input",
                "value": "text",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "text": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "81aab57b.ca4b78"
            ]
        ]
    },
    {
        "id": "81aab57b.ca4b78",
        "type": "function",
        "z": "32cc78c2.d8ddb8",
        "name": "",
        "func": "msg.payload=msg.payload.text;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "43ec09eb.681f98",
                "66cb2230.5677dc"
            ]
        ]
    },
    {
        "id": "187a426f.0970be",
        "type": "function",
        "z": "32cc78c2.d8ddb8",
        "name": "",
        "func": "msg.payload=msg.payload.output.text[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 220,
        "wires": [
            [
                "52991d73.f40374"
            ]
        ]
    },
    {
        "id": "43ec09eb.681f98",
        "type": "watson-conversation-v1",
        "z": "32cc78c2.d8ddb8",
        "name": "Customer Care",
        "workspaceid": "04848d45-6f14-487a-8d35-ab11b3dedb74",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "service-endpoint": "https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/726249e0-0ac1-4f12-88fa-a5b6b3046d5a",
        "timeout": "",
        "optout-learning": false,
        "x": 500,
        "y": 160,
        "wires": [
            [
                "a525ad93.a4428",
                "187a426f.0970be"
            ]
        ]
    },
    {
        "id": "66cb2230.5677dc",
        "type": "ui_text",
        "z": "32cc78c2.d8ddb8",
        "group": "c094dc64.ca516",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "You",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 390,
        "y": 360,
        "wires": []
    },
    {
        "id": "a525ad93.a4428",
        "type": "debug",
        "z": "32cc78c2.d8ddb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "52991d73.f40374",
        "type": "ui_text",
        "z": "32cc78c2.d8ddb8",
        "group": "c094dc64.ca516",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bot",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "c094dc64.ca516",
        "type": "ui_group",
        "z": "",
        "name": "ChatBot",
        "tab": "ef3e0971.ba9f98",
        "order": 2,
        "disp": true,
        "width": 14,
        "collapse": false
    },
    {
        "id": "ef3e0971.ba9f98",
        "type": "ui_tab",
        "z": "",
        "name": "Customer Care Helpdesk",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
